<form [formGroup]="loginForm" (ngSubmit)="onFormSubmit()">
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" formControlName="email" required>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="text" class="form-control" id="password" formControlName="password" required>
    </div>
    <div class="form-group">
        <label for="password">Retype Password</label>
        <input type="text" class="form-control" id="password" formControlName="retypePassword" required>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Submit</button>
</form>